// @import "_variables";
@import "externalDependencies";
@import "fontface";

.bilberry-hugo-theme {
    background-color: $page-background-color;
    font-family: $content-font;
    color: $text-color;
    font-size: 1.6em;

    h1, h2, h3, h4, h5, h6, .title, .subtitle {
        font-family: $headline-font;
    }

    a {
        color: inherit;
        border-color: rgba(224, 80, 32, 0.9);
        fill: #e05020;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: $highlight-color;
        }
    }

    .hljs {
        padding: 0.75em;
        font-size: 0.9em;
    }

    .container {
        width: $site-width;
        max-width: 100%;
    }

    @import "topnav";

    @import "header";

    @import "main";

    @import "articles";

    @import "pagination";

    @import "footer";

    @import "responsive";
}
